<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Daily Journal</title>
    <meta charset="utf-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css" />
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <div class="navbar-header">
          <p class="navbar-brand">DAILY JOURNAL</p>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="home" class="nav-item"><a href="/" class="nav-link">HOME</a></li>
          <li id="home" class="nav-item"><a href="/compose" class="nav-link">COMPOSE</a></li>
          <li id="about" class="nav-item"><a href="/about" class="nav-link">ABOUT US</a></li>
          <li id="contact" class="nav-item"><a href="/contact" class="nav-link">CONTACT US</a></li>
        </ul>
      </div>
    </nav>
  </head>
  <body>
    <div class="container">
      
   
